<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zqm.dao.SpendingCategoryMapper">
    <resultMap id="spendingCategoryMap" type="SpendingCategory">
        <id column="categoryID" property="id"/>
        <result column="categoryName" property="name"/>
    </resultMap>

    <select id="queryAllCategory" resultType="String">
        select dailylife.spendingcategory.categoryName from dailylife.spendingcategory;
    </select>

    <select id="queryByName" resultMap="spendingCategoryMap">
        select * from dailylife.spendingcategory where categoryName=#{name};
    </select>
</mapper>